[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrdict = "*"
datetime = "*"
statistics = "*"
pandas = "*"
plotly = "*"
numpy = "*"
matplotlib = "*"
pathlib = "*"
sqlalchemy = "*"
nicegui = "*"
screeninfo = "*"

[dev-packages]

[requires]
python_version = "3.11"
