[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrdict = "*"
datetime = "*"
statistics = "*"
pandas = "*"
plotly = "*"
numpy = "*"
matplotlib = "*"
pathlib = "*"
sqlalchemy = "*"
nicegui = "*"
screeninfo = "*"
pythonnet = "*"
pywebview = "*"
clr-loader = "*"
jedi = "*"
mypy = "*"
black = "*"
pylint = "*"
pyright = "*"
ruff = "*"
pytest = "*"
flake8-pyproject = "*"
pipenv = "*"
install = "*"
cefpython3 = {file = "https://github.com/cztomczak/cefpython/releases/download/v66.1/cefpython3-66.1-py2.py3-none-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.11"
