[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrdict = "*"
datetime = "*"
statistics = "*"
pandas = "*"
plotly = "*"
numpy = "*"
matplotlib = "*"
pathlib = "*"
sqlalchemy = "*"
nicegui = "*"
screeninfo = "*"
pywebview = "*"
pycairo = "*"
pygobject = "*"
qtpy = "*"
pyqt5 = "*"
pyqtwebengine = "*"
pylint = "*"
flake8 = "*"
pyright = "*"
wrapt = "*"
ruff = "*"
mypy = "*"
tomli = "*"
dill = "*"

[dev-packages]

[requires]
python_version = "3.11"
