-i https://pypi.org/simple
aiofiles
aiohttp
aiosignal
annotated-types
anyio
astroid
async-timeout
attrdict
attrs
bidict
black
bottle
https://github.com/cztomczak/cefpython/releases/download/v66.1/cefpython3-66.1-py2.py3-none-win_amd64.whl
certifi
cffi
charset-normalizer
click
clr-loader
colorama
contourpy
cycler
datetime
dill
docutils
fastapi
fastapi-socketio
flake8
flake8-pyproject
fonttools
frozenlist
greenlet
h11
httpcore
httptools
httpx
idna
iniconfig
isort
itsdangerous
jedi
jinja2
kiwisolver
markdown2
markupsafe
matplotlib
mccabe
multidict
mypy
mypy-extensions
nicegui
nodeenv
numpy
orjson
packaging
pandas
parso
pathlib
pathspec
pillow
platformdirs
plotly
pluggy
proxy-tools
pscript
pycodestyle
pycparser
pydantic
pydantic-core
pyflakes
pygments
pylint
pyparsing
pyright
pytest
python-dateutil
python-dotenv
python-engineio
python-multipart
python-socketio
pythonnet
pytz
pywebview
pyyaml
ruff
screeninfo
setuptools
simple-websocket
six
sniffio
sqlalchemy
starlette
statistics
tenacity
tomlkit
typing-extensions
tzdata
uvicorn[standard]
vbuild
watchfiles
websockets
wsproto
yarl
zope.interface
